.recipe-title {
    height: 150px;
    width: 30%;
}

#slider {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
}

.recipes-container {
    padding: 10px 15px;
}

.recipe-titles-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe-title {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.slider-arrow {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 40%;
}

.slider-left-arrow { left: 0; }

.slider-right-arrow { right: 0; }
