body {
    margin: 0;
    background-color: #eee;
}

.website-logo {
    height: 50px;
    width: 50px;
}

.social-media-icons {
    height: 20px;
    width: 20px;
}

.up-arrow-icon {
    height: 40px;
    width: 40px;
}

.navbar {
    background-color: #FFA500;
    margin-bottom: 2rem;
    padding: .25rem;
    box-sizing: content-box;
}
