body {
    margin: 0;
    background-color: #eee;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.website-logo {
    height: 50px;
    width: 50px;
}

.social-media-icons {
    height: 20px;
    width: 20px;
}

.up-arrow-icon {
    height: 40px;
    width: 40px;
}

.navbar {
    background-color: #FFA500;
    margin-bottom: 2rem;
    padding: .25rem;
    box-sizing: content-box;
    display: flex;
    color: #eee;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-title {
    text-transform: uppercase;
    flex-grow: 1;
}

.website-title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eee;
}

.nav-links {
    float: right;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-left: 1px solid #ccc;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer {
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    /* height: 50px; */
}

.address {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 14px;
}

.social-media-icons-container, .contact-us, .up-arrow-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-icons {
    margin: 0 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.contact-us {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    cursor: pointer;
}
.contactus-modal {
    flex-direction: column;
    justify-content: center;
}

.address {
    text-indent: justify;
}

.up-arrow-container {
    background-color: #ccc;
    width: 80px;
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

#login, #contactus {
    background-color: #fff;
    padding: 25px;
    height: auto;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin: 15% auto;
}

#contactus {
    width: 400px;
}

#login input {
    height: 25px;
}

#loginButton, #submitBtn {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ccc;
    text-transform: uppercase;
    border-radius: 5px;
}

#loginButton:hover, #submitBtn:hover {
    background-color: #FFA500;
    color: white;
}

.close {
    border-radius: 60%;
    top: 0;
    position: absolute;
    right: -100px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
}

.contact-form input {
    margin-bottom: 10%;
}

.contact-form input[type="text"], .contact-form input[type="email"], 
.contact-form textarea, .contact-form input[type="number"],
.contact-form input[type="date"] {
    width: 100%;
}
